body {
    font-family: sans-serif;
    color: #333;
    box-sizing: border-box;
}

img {
    width: 100%;
    border-radius: 0.5em;
}

h1 {
    text-align: center;
    margin: 0;
}

.jumbo {
    padding: 0 25vw;
}
.error {
    color: orangered;
    text-align: center;
}

table {
    width: 100%;
}
th {
    text-align: left;
}
th:last-child,
td:last-child {
    text-align: right;
}
tbody tr:hover {
    background-color: #eee;
}

button {
    background-color: dodgerblue;
    color: white;
    padding: 0.25em 1em;
    border: 1px solid #aaa;
    border-radius: 0.25em;
}
button:hover {
    box-shadow: 2px 2px 4px #888;
    border: 1px solid darkorange;
}
button.remove {
    background-color: tomato;
}
button.clear {
    background-color: gray;
}
button.save {
    background-color: green;
}
